@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}
.container {
  height: 61%;
  max-width: 20rem;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}
.img {
  height: 60%;
  background: url(/images/image-qr-code.png);
  background-position: center;
  background-size: cover;
  border-radius: 4%;
  margin-bottom: 1.5rem;
}
.card {
  margin: 0.5rem;
  text-align: center;
}
h1 {
  font-size: 20px;
  padding-bottom: 1rem;
  color: hsl(218, 44%, 22%);
}
p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
